<div class="lists">
  	<div class="user-info">
        <p id="notice"></p>

		<h2>User info</h2>
		<%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
		<table class="table table-striped">
		  	<tbody>
		  	<tr></tr>
		  	<tr>
			  <th>name</th>
			  <th><%= user.name %></th>
		  	</tr>
		  	<tr>
			  <th>introduction</th>
			  <th><%= user.introduction %></th>
		 	</tr>
			</tbody>
		</table>

		<div>
			<% if user.id == current_user.id %>
			<%= link_to "", edit_user_path(user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench " %>
			<% else %>
			<%= link_to "", user_path(current_user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
			<% end %>

		</div>

		<div class="new-book">

			<h2>New book</h2>

			 <%= form_for(book) do |f| %>
			 <div class="field row">
			 	<label for="book_title">Title</label>
			 	<div class="book-title-field">
			    <%= f.text_field :title,class: "col-xs-12" %>
			    </div>
			 </div>

			 <div class="field row">
			    <label for="book_opinion">Opinion</label>
			    <div class="book-opinion-area">
			    <%= f.text_area :body, class: "col-xs-12" %>
			    </div>
			 </div>

			 <div class="create-book">
			    <%= f.submit "Create Book", class: "btn btn-primary btn-lg btn-block" %>

			 	 <!-- <button type="submit" class="btn btn-primary btn-lg btn-block">Create Book</button> -->
	  		　</div>

			 <% end %>

		</div>
	</div>
</div>


